/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'Arvo-Regular';
	src: url('../fonts/Arvo-Regular.eot');
	src: local('☺'),  url('../fonts/Arvo-Regular.woff') format('woff'),  url('../fonts/Arvo-Regular.ttf') format('truetype'),  url('../fonts/Arvo-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
img {
	border: 0;
}
/*------------------------------ SPRITES ------------------------------*/
#connect a {
	background: url(../images/icons.png) no-repeat;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background: url(../images/bg-header.png) repeat-x left bottom;
	background-position: 0 bottom;
	padding: 55px 10px 85px;
}
#header > div {
	width: 960px;
	margin: 0 auto;	
}
#header > div:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/** Logo **/
#logo {
	display: inline-block;
	border-bottom: 3px solid #c40891;
	margin-left: 10px;
	padding: 0 5px;
}
#logo a {
	font-family: 'Arvo-Regular';
	font-size: 45px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#logo a span {
	color: #710b9b;
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	width: 700px;
	margin: 7px 10px 3px 0;
	padding: 0;
}
#navigation li {
	float: left;
	margin-left: 10px;
}
#navigation li:first-child {
	margin-left: 0;
}
#navigation li a {
	color: #710b9b;
	font-family: 'Arvo-Regular';
	font-size: 18px;
	line-height: 34px;
	padding: 6px 15px;
	text-decoration: none;
}
#navigation li a:hover, #navigation li.selected a {
	color: #c40891;
	background-color: #e9faa5;
	border-radius: 5px;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	background-color: #f1f1cd;
	padding: 20px 0 40px;
}
#contents > div:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#contents .body {
	background-color: #fff;
	height: auto;
	width: 900px;
	margin: 0 auto;
	border: 1px solid #d1daac;
	padding: 0 29px;
}
#contents h1 {
	color: #de0da5;
	font-family: 'Arvo-Regular';
	font-weight: normal;
	margin: 30px 0 20px;
}
#contents p {
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 30px;
	text-align: justify;
}
#contents p a {
	color: #000;
}
#contents p > a:hover {
	color: #550974;
}
#contents p em {
	color: #7a1ba2;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: normal;
}
#contents p em a {
	color: #7a1ba2;
	text-decoration: none;
}
#contents p em a:hover {
	text-decoration: underline;
}
/** Adbox **/
#adbox {
	font-family: 'Arvo-Regular';
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
#adbox img {
	float: left;
	margin-right: 60px;
}
#adbox h1 {
	font-size: 75px;
	margin: 0 0 10px;
	padding-top: 60px;
	text-transform: uppercase;
}
#adbox p {
	color: #710b9b;
	font-size: 20px;
	line-height: 40px;
}
/** MAIN **/
#main {
	float: left;
	min-height: 100px;
	width: 640px;
	padding-right: 20px;
}
/** SIDEBAR **/
#sidebar {
	float: right;
	height: auto;
	width: 210px;
	padding-left: 29px;
}
/** Featured **/
#contents #featured {
	background: #fff url(../images/separator.png) repeat-y left top;
	padding-bottom: 20px;
}
#featured #main ul {
	display: inline-block;
	height: auto;
	list-style: none;
	width: 640px;
	margin: 0;
	padding: 0;
}
#featured #main ul img {
	border: 2px solid #d1d1d1;
	margin-bottom: 10px;
}
#featured #main ul li {
	float: left;
	width: 215px;
	margin-bottom: 10px;
	padding: 0 15px 0 28px;
}
#featured #main ul li:first-child {
	width: 379px;
	margin-bottom: 0px;
	padding: 0;
}
#featured ul li:first-child p {
	text-align: justify;
}
#featured #main ul li span.time {
	float: left;
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 24px;
	border-right: 2px solid #d1daac;
	margin-top: 6px;
	padding-right: 10px;
	text-align: right;
}
#featured ul li p {
	padding-left: 50px;
	text-align: left;
}
#featured #sidebar ul {
	list-style: none;
	width: 210px;
	margin: 0;
	padding: 0;
}
#featured #sidebar ul li {
	margin-bottom: 10px;
	padding-right: 19px;
}
#featured #sidebar ul li p {
	padding-left: 0;
}
/** About **/
#contents #about {
	min-height: 900px;
}
#about h4 {
	color: #710b9b;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 0 0 6px;
}
#about h4.details {
	color: #000;
	font-weight: normal;
	text-transform: uppercase;
}
#about p {
	padding-bottom: 42px;
	padding-right: 60px;
}
/** Answers **/
#contents #answers {
	min-height: 900px;
}
#contents #answers p {
	padding-right: 20px;
}
#answers ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#answers ul li {
	float: left;
	min-height: 150px;
	width: 420px;
	padding-right: 30px;
}
#contents #answers ul li p {
	padding-right: 0;
}
#answers ul li p em {
	display: block;
}
/** Blog **/
#contents #blog {
	background: #fff url(../images/separator.png) repeat-y left top;
	min-height: 900px;
	padding-bottom: 20px;
}
#blog #main img {
	float: left;
	border: 2px solid #d1d1d1;
	margin: 6px 20px 0 0;
}
#blog p {
	line-height: 30px;
	padding-bottom: 0;
	padding-right: 30px;
}
#blog #sidebar div.section {
	margin: 0 0 24px;
}
#blog #sidebar h4 {
	color: #710b9b;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 6px;
}
#blog #sidebar ul {
	color: #000;
	font-size: x-small;
	margin: 0;
	padding: 0 0 0 15px;
}
#blog #sidebar ul li a {
	color: #000;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
#blog #sidebar ul li a:hover {
	text-decoration: underline;
}
/** Contact **/
#contents #contact {
	min-height: 900px;
}
#contact form {
	width: 605px;
	margin: 0 0 30px;
}
#contact label {
	display: inline-block;
	font-size: 14px;
	width: 110px;
	margin: 0 0 12px;
	padding: 0 10px 0 0;
	text-align: right;
}
#contact label.msg {
	vertical-align: top;
}
#contact input.txtfield {
	height: 28px;
	line-height: 28px;
	width: 460px;
	border: 1px solid #bbbbbb;
	margin: 0 0 12px;
	padding: 0 4px;
}
#contact textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	height: 283px;
	line-height:24px;
	width: 460px;
	border: 1px solid #bbbbbb;
	margin: 0 0 12px;
	padding: 0 4px;
	overflow: auto;
	resize: none;
}
#contact input.btn {
	background-color: #f1f1cd;
	color: #000;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border: 0;
	border-radius: 5px;
	margin-left: 124px;
	padding: 0 10px;
}
#contact input.btn:hover {
	background-color: #d9e5a9;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background: #ffffff url(../images/bg-footer.png) repeat-x left top;
}
#footer > div {
	width: 940px;
	margin: 0 auto;
	padding: 60px 10px 30px;
}
#footer p {
	clear: both;
	color: #9f9f9f;
	font-size: 13px;
	margin: 0;
	text-align: center;
}
#footer > div > div {
	float: left;
	width: 680px;
	margin-bottom: 20px;
}
#footer > div > div p {
	color: #710b9b;
	font-size: 14px;
	line-height: 24px;
	padding-right: 80px;
	text-align: left;
}
#footer > div > div p a {
	color: #710b9b;
}
#footer > div > div h2 {
	color: #de0da5;
	margin: 0;
}
#footer #connect {
	width: 210px;
	border-left: 1px solid #d4dcb1;
	padding-left: 29px;
}
#footer #connect h2 {
	margin: 0 0 6px;
}
#connect a {
	display: inline-block;
	height: 42px;
	width: 55px;
	margin-right: 20px;
}
#connect a.facebook {
	background-position: -65px 0;
	width: 25px;
}
#connect a.twitter {
	background-position: -65px -48px;
}
#connect a.googleplus {
	background-position: -65px -96px;
}
#connect a.facebook:hover {
	background-position: 0 0;
	width: 25px;
}
#connect a.twitter:hover {
	background-position: 0 -48px;
}
#connect a.googleplus:hover {
	background-position: 0 -96px;
}

/** ==============================================================TES!!!!============================================================================== **/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'gandhi_sansregular';
    src: url('../fonts/GandhiSans-Regular-webfont.eot');
    src: url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
         url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*-----start-wrap----*/
.wrap{
	width:80%;
	margin:0 auto;
}
/*---start-header----*/
/*
.header{
	background: url(../images/header-border.png) repeat-x #F1F0F6;
	padding:20px;
}
.logo{
	float:left;
	padding-top: 8px;
}
.top-menu{
	float:right;
	width: 71%;
	padding-top: 6px;
}
.top-nav{
	float:left;
}
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	 font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 16px 20px;
	display: block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.top-nav ul li a:hover{
	color:#000;
}
.search{
	float: left;
	width: 50%;
	padding-top: 0.3em;
}
.search input[type="text"]{
	width: 83.5%;
	padding: 10px;
	float: left;
	border: 1px solid rgba(85, 85, 85, 0.15);
	border:none;
	outline:none;
	font-family: 'gandhi_sansregular';
	color: #888;
}
.search input[type="submit"]{
	background: url(../images/search-icon.png) no-repeat 46% 46% #000;
	padding: 10px;
	width: 50px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
}
.search input[type="submit"]:hover{
	color:#888;
}
*/
/*---album-rating-----*/
/*
.rate, .rate b, .rate a {
	 width: 80%;
	 height: 20px;
	 overflow: hidden;
	 background: url(../images/star.gif);
}
.rate{
	margin:10px 0;
}
.rate b {
	 float: left;
	 margin-bottom: -100%;
}
.rate a {
	 float: right;
	 margin-left: -80px;
	 text-indent: -1000%;
}
.rate a:hover {
 	background-color:#888;
}
*/
/*---start-main-content----*/
.main-content {
	padding-bottom:40px;
}
/*---start-main-content----*/
/*
.left-sidebar{
	width: 20%;
	float: left;
	border-right: 1px solid #F1F0F6;
}
.sidebar-box h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px 10px 10px 0;
	display: block;
	border: 1px solid #F1F0F6;
	font-size: 0.875em;
	border-top: none;
	border-left: none;
	border-right: none;
	line-height: 1.5em;
}
.sidebar-box h2{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px 10px 10px 0;
	display: block;
	font-size: 1em;
}
.sidebar-box ul li{
	display:block;
	padding:5px 0;
	font-family: 'gandhi_sansregular';
	color: #888;
	cursor:pointer;
}
.sidebar-box input[type="button"]{
	padding: 15px 20px;
	background: #000;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	font-family: 'gandhi_sansregular';
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	text-transform: uppercase;
	display: block;
	width: 100%;
}
.sidebar-box input[type="button"]:hover{
	color:#888;
}
.sidebar-box ul {
	padding: 10px 0 10px 22px;
}
.sidebar-box p{
	color:#888;
	font-family: 'gandhi_sansregular';
	font-size:0.875em;
	line-height:1.5em;
	padding: 10px 5px;
}
*/
/*---start-type-videos----*/
.type-videos ul li{
	display:block;
}
.type-videos ul li a:before{
	content: url(../images/marker2.png);
	padding: 0px 8px 0px 5px;
	vertical-align: sub;
}
.type-videos ul li a{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 0.875em;
	line-height: 1.5em;
	padding: 18px 10px 11px 10px;
	display: block;
	background: #F1F0F6;
	margin: 1px 0;
	border-bottom: 1px solid rgba(85, 85, 85, 0.05);
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.type-videos ul li img{
	vertical-align:middle;
}
.type-videos ul li a:hover{
	color: #888;
	background: #E6E6E6;
}
.type-videos h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	border: 1px solid #F1F0F6;
	font-size: 1em;
	border-left:none;
	border-right: none;
	border-bottom:none;
}
/*-----right-content-----*/
.content{
	padding:0 18px;
	width: 77%;
	float: right;
}
.content-grid{
	width: 30.43%;
	float: left;
	text-align: center;
	border: 1px solid rgba(235, 235, 235, 0.53);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
	margin-right:4%;
	margin-bottom:4%;
}
.last-grid{
	margin-right:0px;
}
.content-grid img{
	display:block;
}
.content-grid h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	padding: 10px 0;
	display: block;
	line-height: 1.5em;
	font-size: 0.875em;
}
.content-grid ul li{
	display:inline-block;
}
.content-grid img{
	display:block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.content-grid:hover  img{
	-webkit-filter: grayscale(100%);
	opacity: 5;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.content-grid ul li a{
	padding:0 5px;
	display:block;
}
.button{
	background: #8FB32E;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	display: block;
	margin: 10px 0 0 0;
	font-size: 0.875em;
}
.button:hover{
	color:#888;
}
/*---top-social-icons-----*/
/*
.social-icons {
 float: right;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display:block;
	text-indent: -9999px;
	background: transparent url(../images/social-icons.png);
}
.contact-info1 {
	font-family: Montserrat;
	font-weight: 700;
	color: #eee;
}
.social-icons li:first-child {
	border-left: 1px solid rgba(231, 231, 231, 0.73);
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
}
.social-icons li {
	float: left;
	width: 40px;
	height: 40px;
	border-right: 1px solid rgba(231, 231, 231, 0.73);
	background: none;
	padding: 0px;
	margin: 0;
}
.social-icons a.facebook:hover {
	background-position: 0px bottom;
}
.social-icons a.facebook {
	background-position: 0px top;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: transparent url(../images/social-icons.png);
}
.social-icons a.twitter {
	background-position: -40px top;
}
.social-icons a.twitter:hover {
	background-position: -40px bottom;
}
.social-icons a.googleplus {
	background-position: -440px top;
}
.social-icons a.googleplus:hover {
	background-position: -440px bottom;
}
.social-icons a.pinterest {
	background-position: -480px top;
}
.social-icons a.pinterest:hover {
	background-position: -480px bottom;
}
.social-icons a.dribbble {
	background-position: -160px top;
}
.social-icons a.dribbble:hover {
	background-position: -160px bottom;
}
.social-iconst a.dribbble:hover {
	background-position: -160px bottom;
}	
.social-icons a.vimeo {
	background-position: -120px top;
}
.social-icons a.vimeo:hover {
	background-position: -120px bottom;
}
*/
.content-heading-left{
	float:center;
	padding: 11px 0;
}
.content-heading {
	border-bottom: 1px solid #F1F0F6;
	margin-bottom: 20px;
	margin-right:160px;
}
.content-heading-right{
	float:center;
}
.content-heading-left h3{
	font-family: 'gandhi_sansregular';
	color: #888;
	text-transform: uppercase;
	display: block;
	text-align:center;
}
/*----start-pagenation-----*/
.pagenation{
	float:right;
}
.pagenation ul li{
	display:inline-block;
}
.pagenation ul li a{
	background: #8FB32E;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	display: block;
	font-size: 0.875em;
}
.pagenation ul li a:hover{
	color: #888;
}
.pagenation ul li:last-child{
	padding-left:1em;
}
/*---start-copyright-----*/
/*
.copy-right{
	padding:1em 0;
	background:#000;
	text-align:center;	
}
.copy-right p{
	background: #000;
	color: #FFF;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	font-size: 0.875em;
}
.copy-right p a{
	background: #000;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	font-family: 'gandhi_sansregular';
	text-transform: uppercase;
	font-size: 1em;
}
.copy-right p a:hover{
	color:#888;
}
*/
/*---sigle-page----*/
/*---single-page-----*/
/*
.title ul li{
	display:inline-block;
}
.title h3,.title h4{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 10px;
}
.title h4{
	font-size:1em;
}
.title ul{
	padding-bottom:10px;
}
.title ul li a{
	color:rgb(155, 155, 155);
	font-family: 'gandhi_sansregular';
	font-size:0.9em;
	padding: 0px 3px;
}
.title ul li img{
	vertical-align:middle;
	margin:0px 3px;
}
.title ul li a:hover{
	color:#888;
}
.video-details p,.video-details span{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 10px;
}
.video-details p{
	padding: 0 0 7px 0px;
}
.video-details ul{
	padding:10px 0px;
}
.video-details p a{
	color:#888;
	font-family: 'gandhi_sansregular';
}
.tags li a{
	font-size: 0.9em;
	color: #888;
	font-family: 'gandhi_sansregular';
}
.tags ul li{
	display:inline-block;
}
.tags h3{
	color: rgb(155, 155, 155);
	font-family: 'gandhi_sansregular';
	font-size: 0.9em;
	text-transform:uppercase;
}
.other-links ul li{
	line-height:1.8em;
}
.related-videos h6{
	font-size:1em;
	font-family: 'gandhi_sansregular';
	padding-top: 4px;
	padding-bottom: 4px;
	color:rgb(155, 155, 155);
	padding: 15px 0px 10px 0px;
	border-bottom: 1px dashed rgb(201, 201, 201);
}
.video-inner span{
	position: absolute;
	right: -10px;
	bottom: 15px;
	background: rgba(58, 58, 58, 0.61);
	padding: 7px 20px;
	font-family: 'gandhi_sansregular';
	color: #fff;
}
.viwes {
	padding: 11px 0px 0 0;
}	
.video-inner img{
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px rgb(228, 228, 228);
}
.video-inner{
	position:relative;
	width: 97.3%;
}
.shareon {
	width:100px;
	border:none;
}
*/
/*----share-artical----*/
/*
.share-artical h3{
	font-family: 'gandhi_sansregular';
	font-weight: 400;
	font-size: 30px;
	color: #626262;
	text-align: left;
	text-transform: none;
	padding: 14px 0;
	margin-top: 15px;
}
.share-artical ul li{
	display:inline-block;
	padding-right:10px;
}
.share-artical ul li img{
	vertical-align: text-top;
	padding-right:7px;
}
.share-artical ul li a{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
}
.share-artical ul li a:hover{
	color:#000;
}
*/
/*---comment-box----*/
/*
.table-form{
	width:100%;
}
.table-form form input[type="text"]{
	border: 1px solid rgba(192, 192, 192, 0.22);
	outline: none;
	padding: 8px;
	margin-top: 23px;
	color:#888;
	overflow: hidden;
	width: 40%;
	display: block;
	font-family: 'gandhi_sansregular';
}
.table-form textarea{
	font-family: 'gandhi_sansregular';
	padding: 8px;
	margin-top: 25px;
	outline:none;
	color: #888;
	border: 1px solid rgba(192, 192, 192, 0.22);
	width:70%;
	height:100px;
	resize: none;
}
.table-form a{
	font: 400 15px/1.2em Arial;
	color: #5a5a5a;
	padding: 11px 18px;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid #e9e9e9;
	float: left;
	margin-top: 10px;
	display: block;
	font-family: 'gandhi_sansregular';
}
.table-form a:hover{
	background: #000;
	color: #fff;
	transition: all 0.3s;
}
.artical-commentbox h3{
	font-family: 'gandhi_sansregular';
	font-weight: 400;
	font-size: 30px;
	color: #626262;
	text-align: left;
	text-transform: none;
	padding-top: 14px;
	margin-top: 15px;
	}
*/
/*---start-contact----*/
/*  Contact Form  ============================================================================= */
/*
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 0% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding: 0 1.5%;
}
.span_1_of_3 {
	width: 29.2%;
	padding: 0 1.5%;
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-family: 'gandhi_sansregular';
	font-weight: 400;
	font-size: 1.2em;
	color: #626262;
	text-align: left;
	text-transform: none;
	padding: 14px 0;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #888;
	padding-bottom:5px;
	font-family: 'gandhi_sansregular';
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			border: 1px solid rgba(192, 192, 192, 0.22);
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	font: 400 15px/1.2em Arial;
	color: #5a5a5a;
	padding: 11px 18px;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid #e9e9e9;
	float: left;
	margin-top: 10px;
	display: block;
	font-family: 'gandhi_sansregular';
	cursor:pointer;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.contact-form input[type="submit"]:hover{
	background: #000;
	color: #fff;
	transition: all 0.3s;
}
.contact-form input[type="submit"]:active{
	background: #000;
	color: #fff;
	transition: all 0.3s;
}
.company_address p{
	color: #888;
	font-family: 'gandhi_sansregular';
	font-size: 1em;
	line-height: 1.5em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	margin-bottom:15px;
}
*/
/***** Media Quries *****/

@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*----responsive-design----*/

@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:95%;
	}
	.right-content {
		width: 77%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:95%;
	}
	.right-content {
		width: 76%;
	}
	.top-menu {
		width: 75%;
	}
	.content-grid {
		width: 23.28%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:95%;
	}
	.right-content {
		width: 76%;
	}
	.top-menu {
		width: 75%;
	}
	.content-grid {
		width: 23.2%;
	}
	.top-nav ul li a {
		padding: 16px 13px;
	}
	.top-nav {
		width: 56%;
	}
	.search {
		width: 44%;
	}
	.search input[type="text"] {
		width: 76.5%;
	}
	.type-videos ul li a {
		padding: 10px 10px 2px 10px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:95%;
	}
	.right-content {
		width: 76%;
		padding:0px 10px;
	}
	.top-menu {
		width: 75%;
	}
	.content-grid {
		width: 23%;
	}
	.top-nav ul li a {
		padding: 10px 5px;
	}
	.top-nav {
		width: 66%;
		margin-top: 8px;
	}
	.search {
		width: 33%;
	}
	.search input[type="text"] {
		width: 57.5%;
	}
	.type-videos ul li a {
		padding: 10px 10px 2px 10px;
	}
	.type-videos ul li:nth-child(1),.type-videos ul li:nth-child(2),.type-videos ul li:nth-child(3),.type-videos ul li:nth-child(4){
		display:none;
	}
}